<FilesMatch "^\.">
	Order Allow,Deny
	Deny from all
</FilesMatch>

<Files "config.php">
	Order Allow,Deny
	Deny from all
</Files>

<Files "judge_worker.php">
	Order Allow,Deny
	Deny from all
</Files>

Options -Indexes
