.modal-body table {
    width: 100%;
    table-layout: fixed;
}
.modal-body th,
.modal-body td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    vertical-align: middle;
}
.modal-body td pre {
    max-height: 300px;
    max-width: 100%;
    overflow: auto;
    white-space: pre-wrap;
    padding: 5px;
    border-radius: 5px;
}
.modal-lg {
    max-width: 80%;
}
.hidden { display: none; }
.container a {
    color: #fff !important;
}
.container .mt-5 a {
    color: #7de77d !important;
}
:root {
    --bs-link-color-rgb: #7de77d;
}
.btn-outline-light:hover {
    color: black !important;
    background-color: white !important;
    border-color: white !important;
}
.btn-outline-light .active {
    color: rgb(0, 0, 0);
    border-color: white;
    transition: all 0.3s ease-in-out;
}
#problemDescription h1, h2, h3 {
    margin-top: 10px;
    font-weight: bold;
}
#problemDescription code {
    background-color: #222;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 90%;
}
#problemDescription pre {
    background-color: #222;
    padding: 10px;
    border-radius: 6px;
    overflow-x: auto;
}
.time { font-size: 12px; color: #6acbf7; }
.score { font-size: 22px; }
body {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.231;
    height: 120%
}
.content {
    flex: 1;
    padding-bottom: 4em;
}
footer {
    position: absolute;
    display: block;
    bottom: auto;
    width: 100%;
    background-color: rgb(56, 135, 224);
    color: white;
    text-align: center;
}
.dropdown-menu {
    background-color: #343a40;
    color: white;
    border: 1px solid #555;
    min-width: 200px;
}
.dropdown-menu a {
    color: white;
}
.dropdown-menu a:hover {
    background-color: #495057;
}
